<!-- about page -->
<div class='content-body'>
	<h1 id="text-center">About Us</h1>
	
	<hr class="blk-bar">
		
	<h3>Straight from France!</h3>
	<br>
	<p>
		This is us. All about us. Straight from France. Our inspired designs are individually selected from the finest of French Merchants and curated to capture the essence of Provence, France. 

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan, diam nec pretium tempor, justo dolor tincidunt enim, sit amet tincidunt mi dui in dolor. Maecenas vulputate auctor consequat. Nullam feugiat dignissim ipsum et iaculis. Pellentesque rhoncus porta velit ac faucibus. Aliquam elementum quam ac eros adipiscing, vel suscipit ipsum vehicula. Pellentesque ac elit non nunc porta gravida. Maecenas et condimentum tellus, vel convallis massa. Pellentesque nibh erat, faucibus a ante vitae, congue tempor est. Morbi scelerisque in sem laoreet posuere. Nam id sapien blandit nisi hendrerit dignissim.
	</p>

	<h3>More about us!</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan, diam nec pretium tempor, justo dolor tincidunt enim, sit amet tincidunt mi dui in dolor. Maecenas vulputate auctor consequat. Nullam feugiat dignissim ipsum et iaculis. Pellentesque rhoncus porta velit ac faucibus. Aliquam elementum quam ac eros adipiscing, vel suscipit ipsum vehicula. Pellentesque ac elit non nunc porta gravida. Maecenas et condimentum tellus, vel convallis massa. Pellentesque nibh erat, faucibus a ante vitae, congue tempor est. Morbi scelerisque in sem laoreet posuere. Nam id sapien blandit nisi hendrerit dignissim.
	</p>
</div>		