<!-- hello -->

<div class="home-header">
	Home decor brought to you straight from the heart of Provence, France!
</div>

<br>

<span id="shopping-button">
	Start Shopping
</span>

<%= image_tag "test.png" %>